<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>

  <body>
    <h2>Hello <%= name %></h2>
    <% users.data.forEach(user=> { %>
    <h5><%= user.name || "azad" %></h5>
    <% }); %>
  </body>
</html>
